/*
    ██  ██     ██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████
   ██  ██      ██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██
  ██  ██       ██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████
 ██  ██         ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██
██  ██           ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████
*/

// Bootrap defaults
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
// bootstrap/_variables.scss


// Original Palette URL: http://colorschemedesigner.com/#3K31Es6Jew0w0
// Updated 2017: http://paletton.com/#uid=33K0f0ks6Je8I+zl3Upv5pBt35L
// Tables / Export… :  http://paletton.com/export/index.php

// Primary Color from:
$color-primary-0: #2C60D0;	// Main Primary color */
$color-primary-1: #C0D4FE;
$color-primary-2: #618EEE;
$color-primary-3: #113788;
$color-primary-4: #060E1F;

$color-secondary-1-0: #FFC61F;	// Main Secondary color (1) */
$color-secondary-1-1: #FFEDBA;
$color-secondary-1-2: #FFD457;
$color-secondary-1-3: #CC9906;
$color-secondary-1-4: #2E2304;

$color-secondary-2-0: #FF9E1F;	// Main Secondary color (2) */
$color-secondary-2-1: #FFE1BA;
$color-secondary-2-2: #FFB657;
$color-secondary-2-3: #CC7606;
$color-secondary-2-4: #2E1C04;


//----------------------------------------------------------
//  ██████  ██████  ██       ██████  ██████  ███████
// ██      ██    ██ ██      ██    ██ ██   ██ ██
// ██      ██    ██ ██      ██    ██ ██████  ███████
// ██      ██    ██ ██      ██    ██ ██   ██      ██
//  ██████  ██████  ███████  ██████  ██   ██ ███████

// Design Neutrals
$color-light: #f9f9f9;
$color-lightest: #fff;
$color-dark: #000;
$color-dark-dark: #455A64;
$color-grey-light: #e1e1e1;
$color-grey-dark: #727272;

/* Branding Pallette */
$color-brand-primary: $color-primary-0; // Background
$color-brand-secondary: $color-secondary-1-0;
$color-brand-tertiary: $color-secondary-2-0; // Background
// $color-brand-quaternary: ; // Accent
// $color-brand-quinary: ; // Accent

$color-brand-primary-complimentary: $color-primary-2;
$color-brand-secondary-complimentary: $color-secondary-1-2;
$color-brand-tertiary-complimentary: $color-secondary-2-2;
$color-brand-quaternary-complimentary: $color-secondary-1-4;
$color-brand-quinary-complimentary: $color-secondary-2-4;

// Background
$site-bg: $color-light;
$site-bg-start: $color-light;
$site-bg-end: $color-light;
$site-background-attachment: null; // 'fixed, local, inherit, or null'

// Default Text Colors
$color-brand-body-text: $color-dark;
$base-accent-color: $color-brand-tertiary;
// $heading-color: $color-brand-primary;
// $heading-color-alt: $color-brand-secondary;

// Supplementary Colors
// $alert-bg: mix(red, white, 40%);
// $alert-color: red;
// $success-bg: mix(green, white, 40%);
// $success-color: green;
// $info-bg: mix(blue, white, 40%);
// $info-color: blue;



$color1: #FFF;
$color2: #000;
$color3: rgba(#B0C6EF,.7);


// Theme Elements
$navbar-bg: transparent;
$navbar-link: black;
$navbar-link-hover: rgba(255,250,255,.9);
$navbar-link-bg: transparent;
$navbar-link-bg-focus: rgba(00,100,255,.8);
$navbar-link-bg-active: rgba(#B0C6EF,.7);
$navbar-link-bg-hover: transparent;

$navbar-bg-collapse: transparent;
$navbar-link-collapse: white;
$navbar-link-collapse-hover: rgba(75,75,75,.9);
$navbar-link-collapse-bg: transparent;
$navbar-link-collapse-bg-focus: rgba(00,100,255,.8);
$navbar-link-collapse-bg-active: yellow;
$navbar-link-collapse-bg-hover: transparent;



//not used
$navbar-collapse: transparent;
$navbar-collapse-link: transparent;
$navbar-collapse-link-hover-color: transparent;
$navbar-collapse-bg: transparent;
$navbar-collapse-link-bg-hover: transparent;
$navbar-collapse-border: transparent;
$navbar-collapse-border-thickness: 0px;
$navbar-collapse-border-type: none;

$navbar-font: "Montserrat","Helvetica Neue","Helvetica","Arial","sans-serif";
$navbar-border: transparent;
$navbar-border-thickness: 0px;
$navbar-border-type: none;


$portfolio-image-carousel-width: 100%;
$portfolio-image-full-width: 100%;
$portfolio-image-thumb-width: 200px;

// MEDIA QUERIES BASED ON  - https://davidwalsh.name/write-media-queries-sass#mixins-to-the-rescue
// SIZES SET FOR BOOTSTRAP - https://getbootstrap.com/css/#grid-media-queries

/* Extra small devices (phones, less than 768px) */
/* No media query since this is 'mobile first' */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

@mixin screen-small {
  @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-min - 1px}) {
    @content;
    // EXAMPLE
    // @include screen-small {
    //     font-size: 18px;
    //   }
  }
}

@mixin screen-medium {
  @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-lg-min - 1px}) {
    @content;
    // EXAMPLE
    // @include screen-medium {
    //     font-size: 18px;
    //   }
  }
}

@mixin screen-large {
  @media (min-width: #{$screen-lg}) {
    @content;
    // EXAMPLE
    // @include screen-large {
    //     font-size: 18px;
    //   }
  }
}
