---
layout: default
---

{% include tpl_layout_top.html %}
<body class="{% if page.url == '/' %}front{% endif %}" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <div class="container-fluid content">
    {% include tpl_layout_navigation.html %}
    <aside>
      <div class="row full-height">
          <h2 class="page-heading">Blog</h2>
          <ul class="post-list">
            {% for post in site.posts %}
              <li class="col-md-4">
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                &nbsp;
                <h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
                </h2>
              </li>
            {% endfor %}
          </ul>
      </div>
    </aside>
    <button class="rss-subscribe btn">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></button>
  </div><!-- /.container -->
</body>
</html>
