---
layout: none
---

<head>
<link rel="stylesheet" href="{{ site.baseurl }}/style/css/404.css">
<link rel="stylesheet" href="{{ site.baseurl }}/style/css/style.css"> 
</head>
<body class="fourohfour" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	{% include tpl_layout_navigation.html %}
    <div class="container-fluid">
      <div class="content">
			{{ content }}
      </div>
    </div><!-- /.container -->
</body>
</html>


{% include tpl_layout_top.html %}


    <div class="container-fluid">
      <div class="content">
        {{ content }}
      </div>
    </div><!-- /.container -->
</body>
</html>
